.body{
    background-image: url("zakat1.jpg");
    background-repeat: no-repeat;
    background-position: auto;
    background-size: cover;
}
.div{
    text-align: center;
    font-size: 30px;
}
.input{
    font-size: 40px;
    color:black;
    background-color: white;
    border-radius: 10px;
    border-color: blueviolet;
}
.input:hover{
    font-size: 40px;
    color:white;
    background-color:black;
    border-radius: 10px;
    border-color: brown;
}
.button{
    font-size: 30px;
    color: black;
    background-color: white;
    border-radius: 10px;
    border-color: blueviolet;
}
.button:hover{
    font-size: 30px;
    color: black;
    background-color: gold;
    border-radius: 10px;
    border-color: blueviolet;
}